*{
    margin:0;
    padding:0;
}


div p {
    background-color:#F0F8FF;
}

p {
    background-color:#F0CCE2;
}

p {
    margin: 40px;
    padding: 20px;
    border:solid;
    border-color:#F0F8FF;
}