 h2 {
     margin:10px;
     margin-top:30px;
 }
 
 th, td {
     padding:10px;
 }
     td {
       color:#ffffffff; 
       background-color: #424250;
     }

 .moda {
     font-size:20px;
     background-color: #bb86fc;
     color:#ffffffff
 }
 
  .casa {
     background-color:#00c4b4;
     color:#ffffffff;
 }

